/* font-family: 'Bebas Neue', cursive;
font-family: 'Inter', sans-serif; */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnFunctions {
  display: flex;
  gap: 0.5rem;
}
.btnFunctions button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}
